	<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">Advertiser #<%= @advertiser.id %></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">Advertiser Information</div>
		  <div class="panel-body">
				<div class="row">
					<div class="col-md-2 text-right">Status: </div>
					<div class="col-md-10">
						<% if @advertiser.active? == true %>
							<strong>On</strong>
						<% else %>
							<strong>Off</strong>
						<% end %>

						<%= link_to advertiser_active_path(@advertiser.id) do %>
							<%= "Ativar" if @advertiser.active? == false %>
							<%= "Desativar" if @advertiser.active? == true %>
						<% end %>

					</div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">Company Name: </div>
					<div class="col-md-10"><strong><%= @advertiser.company_name %></strong></div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">Advertiser Type: </div>
					<div class="col-md-10"><strong><%= get_advertiser_type_name(@advertiser.advertiser_type) %></strong></div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">Email: </div>
					<div class="col-md-10 text-left"><strong><%= @advertiser.email %></strong></div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">Contact Name: </div>
					<div class="col-md-10 text-left"><strong><%= @advertiser.contact_name %></strong></div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">Phone: </div>
					<div class="col-md-10 text-left"><strong><%= @advertiser.phone %></strong></div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">Cnpj: </div>
					<div class="col-md-10 text-left"><strong><%= @advertiser.cnpj %></strong></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">Affiliates Information</div>
		  	<% if @advertiser.affiliates.count <= 0 %>
					<div class="text-center text-danger">Usuario não possui affiliates cadastrado</div>
				<% else %>
				  <table class="table">
							<tr>
								<th>Name</th>
								<th>Status</th>
								<th></th>
								<th></th>
							</tr>
						<% @advertiser.affiliates.each do |affiliate| %>
							<tr>
								<td><%= affiliate.name %></td>
								<td>
									<%= link_to affiliate_active_path(affiliate) do %>
										<% if affiliate.active == true %>
											On
										<% else %>
											Off
										<% end %>
									<% end %>
								</td>
								<td><%= link_to "Edit", edit_affiliate_path(affiliate)  %></td>
								<td><%= link_to 'Delete', affiliate_path(affiliate), method: :delete, data: { confirm: 'Are you sure?' } %></td>
							</tr>
						<% end %>
					</table>
				<% end %>
		</div>
	</div>
</div>
