<%= form_for @user do |f| %>

	<div class="row">
		<div class="col-md-12">
			<h3 class="page-header">User Information</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form_group">
				<%= f.label :company_name %>
				<%= f.text_field :company_name, class: "form-control", placeholder: "Enter the company name." %>
				<p class="help-block"></p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form_group">
				<%= f.label :email %>
				<%= f.text_field :email, class: "form-control", placeholder: "Enter the company name." %>
				<p class="help-block"></p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form_group">
				<%= f.label :contact_name %>
				<%= f.text_field :contact_name, class: "form-control", placeholder: "Enter the contact name." %>
				<p class="help-block"></p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form_group">
				<%= f.label :phone %>
				<%= f.text_field :phone, class: "form-control", placeholder: "Example: (00) 0000-0000." %>
				<p class="help-block"></p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form_group">
				<%= f.label :cnpj %>
				<%= f.text_field :cnpj, class: "form-control", placeholder: "Example: 000.000.000/0000-00 or 000.000.000-00." %>
				<p class="help-block"></p>
			</div>
		</div>
	</div>
	<p class="text-right">
		<%= f.submit "Save", class: "btn btn-primary" %>
	</p>

<% end %>
