<%= form_for @campaign do |f| %>

	<div class="row">
		<div class="col-md-12">
			<h3 class="page-header">Campaign Information</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form_group">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control", placeholder: "Enter the name campaign." %>
				<p class="help-block"></p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form_group">
				<%= f.label "advertisers" %>
				<%= f.collection_select(:advertiser_id, Advertiser.where(active: true), :id, :company_name,{}, { class: "form-control" }) %>
				<%#= f.text_field :advertiser_id, class: "form-control" %>
				<p class="help-block"></p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form_group">
				<%= f.label :campaign_type %>
				<%= f.select(:campaign_type, [['CPC', 1], ['Email Mkt', 2]], {}, { class: "form-control" }) %>
				<%#= f.text_field :campaign_type, class: "form-control" %>
				<p class="help-block"></p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form_group">
				<%= f.label :start_date %>
				<%= f.text_field :start_date, class: "form-control" %>
				<p class="help-block"></p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form_group">
				<%= f.label :end_date %>
				<%= f.text_field :end_date, class: "form-control" %>
				<p class="help-block"></p>
			</div>
		</div>
	</div>
	<p class="text-right">
		<%= f.submit "Save", class: "btn btn-primary" %>
	</p>

<% end %>
