<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">Campaign</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Campaigns List
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<p class="text-right">
							<%= link_to new_campaign_path, class: "btn btn-primary" do %>
								Create Campaign
							<% end %>
						</p>
					</div>
				</div>
				<div class="table-reponsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<td>id</td>
								<td>Campaign Name</td>
								<td>Campaign Type</td>
								<td>Start Date</td>
								<td>End Date</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<% @campaigns.each do |campaign| %>
								<tr>
									<td><%= campaign.id %></td>
									<td><%= campaign.name %></td>
									<td><%= get_campaign_type_name(campaign.campaign_type) %></td>
									<td><%= campaign.start_date %></td>
									<td><%= campaign.end_date %></td>
									<td>
										<%= link_to "Show", campaign_path(campaign) %>
										<%= link_to "Edit", edit_campaign_path(campaign) %>
										<%= link_to 'Destroy', campaign_path(campaign), method: :delete, data: { confirm: 'Are you sure?' } %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<div class="text-right">
						<%= will_paginate @campaigns, renderer: BootstrapPagination::Rails %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
