<div class="row">
	<div class="col-md-12">
		<h2 class="page-header">Campaign: <strong><%= @campaign.name %></strong></h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">User Information</div>
		  <div class="panel-body">
				<div class="row">
					<div class="col-md-2 text-right">Status: </div>
					<div class="col-md-10">
						<% if @campaign.status? == true %>
							<strong>On</strong>
						<% else %>
							<strong>Off</strong>
						<% end %>

						<%= link_to campaign_active_path(@campaign.id) do %>
							<%= "Ativar" if @campaign.status? == false %>
							<%= "Desativar" if @campaign.status? == true %>
						<% end %>

					</div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">Name: </div>
					<div class="col-md-10"><strong><%= @campaign.name %></strong></div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">Advertiser: </div>
					<div class="col-md-10 text-left"><strong><%= @campaign.advertiser.company_name %></strong></div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">Campaign Type: </div>
					<div class="col-md-10 text-left"><strong><%= @campaign.campaign_type %></strong></div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">Start Date: </div>
					<div class="col-md-10 text-left"><strong><%= @campaign.start_date %></strong></div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">End Date: </div>
					<div class="col-md-10 text-left"><strong><%= @campaign.end_date %></strong></div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right">Rtg Tag: </div>
					<div class="col-md-10 text-left">
						<textarea name="name" rows="6" cols="100" disabled>
							<%= @campaign.rtg_tag %>
						</textarea>
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">Affiliate Information <%= link_to "New Affiliate", new_affiliate_path(campaign_id: @campaign.id), class: "btn btn-.primary" %></div>
			<% if @campaign.affiliates.count <= 0 %>
				<div class="text-center text-danger">Usuario não possui affiliates cadastrado</div>
			<% else %>
			  <table class="table">
						<tr>
							<th>Url</th>
							<th>Name</th>
							<th>Status</th>
							<th></th>
							<th></th>
						</tr>
					<% @campaign.affiliates.each do |affiliate| %>
						<tr>
							<td><%= affiliate.url %></td>
							<td><%= affiliate.name %></td>
							<td>
								<%= link_to affiliate_active_path(affiliate) do %>
									<% if affiliate.active == true %>
										On
									<% else %>
										Off
									<% end %>
								<% end %>
							</td>
							<td><%= link_to "Edit", edit_affiliate_path(affiliate)  %></td>
							<td><%= link_to 'Delete', affiliate_path(affiliate), method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
	</div>
</div>
